# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [1]:
((10**2)*2)/2+1.25-1

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [4]:
100**0.5

10.0

In [15]:
100**(1/2)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [5]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [7]:
s = 'hello'

In [8]:
s [1]

'e'

In [9]:
s [::-1]

'olleh'

In [10]:
s [4]

'o'

In [14]:
s [-1]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [47]:
lista = [0,0,0]
lista

[0, 0, 0]

In [48]:
lista = [1-1,2-2,3-3]
lista

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [40]:
lista = [1,2,[3,4,'hello']]

In [41]:
lista[2].pop()
lista

[1, 2, [3, 4]]

In [43]:
lista[2].append('goodbye')
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [45]:
listaSinOrdenar = [5,3,4,6,1]

In [46]:
listaSinOrdenar.sort()
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [55]:
f = {'k1':{'k2':'hello'}}

In [59]:
f['k1']['k2']

'hello'

In [60]:
d = {'key1':'hello'}

In [61]:
d['key1']

'hello'

In [72]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [74]:
g['k1'][0]['o1'][1][0]

'hello'

In [79]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [84]:
h['k1'][2]['k2'][1]['dificil'][2][0]

'hello'

#### 9.- Crea una tupla (1 pto)

In [86]:
t=(1,2,3)
t

(1, 2, 3)

In [87]:
type(t)

tuple

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [88]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [89]:
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [90]:
# 2 mayor que 3
2>3

False

In [91]:
# 3 igual que 2
3==2

False

In [92]:
# raíz cuadrada de 4 no es igual a 2
(4**0.5)!=2

False

In [102]:
# 6 es mayor que 5 y 7 menor de 8
6>5 and 7<8

True

In [100]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]
len(nombre)==len(colores) or len(nombre)<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [110]:
mi_archivo=open('tabla-nombres.txt')

In [111]:
mi_archivo.read()

'nombre\tapellidos\tedad\tmascotas\nJuan\tGonzález Pérez\t25\tPepi\nCarlos\tMartín Martín\t13\t\nMarta\tLópez González\t33\tPipa\nÁngel\tCarrillo Sanz\t6\tJorge'

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [125]:
my_dict = {'Rattus':'novergicus, rattus','Glaucidium':'brasilianum, hoskinsii, californicum, minutissimum','Echinocactus':'grusonii','Opuntia':1 }
my_dict['color'] = 'rojo'
my_dict

{'Rattus': 'novergicus, rattus',
 'Glaucidium': 'brasilianum, hoskinsii, californicum, minutissimum',
 'Echinocactus': 'grusonii',
 'Opuntia': 1,
 'color': 'rojo'}

In [126]:
my_set=set (my_dict)
my_set

{'Echinocactus', 'Glaucidium', 'Opuntia', 'Rattus', 'color'}